#app-contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    #contact-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 80vw;
        max-width: 1200px;
        padding: 20px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: $color-blue-3;
    }

    .image-qr-code-1 {
        width: 160px !important;
        height: 160px !important;
    }
}