#app-contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    #contact-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 80vw;
        max-width: 1200px;
        padding: 20px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: $color-blue-3;
    }

    .image-qr-code-1 {
        width: 160px !important;
        height: 160px !important;
    }

    #contact-form {
        @include set-alpha(background-color, $color-blue-4, 0.5);
        padding: 40px;
        border-radius: $radius-1;


        .contact-form-control,
        .contact-form-label {
            color: $color-blue-5 !important;
        }

        .contact-form-text,
        .contact-form-control::placeholder {
            color: $color-dark-orange !important;
            font-size: 0.7rem;
            font-style: italic;
        }

        .contact-form-text {
            color: $color-blue-5 !important;
            font-size: 0.8rem;
            font-style: italic;
        }

        .contact-form-label {
            font-size: 1rem;
            font-weight: bolder;
        }

        .contact-form-control {
            @include set-alpha(background-color, $color-white, 0.66);
            width: 60vw;
            max-width: 800px;
            border: 1px solid $color-white;
        }

        .contact-form-error {
            border: 1px solid $danger !important;
        }
 
    }

    #custom-captcha-container {
        @include set-alpha(background-color, $color-blue-3, 0.75);
        padding: 20px;
        border-radius: $radius-1;
        
        .custom-captcha-container {
            @include set-alpha(background-color, $color-blue-4, 0.5);
            padding: 20px;
            border-radius: $radius-1;
            min-width: 300px;
        }

        #custom-captcha-answer-input {
            border: 0px solid $color-white;
            text-align: center;
        }

        input[type="number"],
        .custom-captcha-input {
            @include set-alpha(background-color, $color-white, 0.66);
            padding: 10px;
            border-radius: $radius-1;
            min-width: 260px;
            height: 40px;
            //-moz-appearance: textfield;
        }
    }

    .contact-form-result {
        color: $color-blue-4 !important;
    }

    /*
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
    }
    */
}
