#app-footer {
    background-color: $color-blue-3;

    .footer-text {
        font-family: "NotoSansRegular";
        font-weight: bolder;
        font-size: xx-large;
    }

    .footer-link {  
        font-family: "EBGaramondRegular";
        font-size: x-large;
        font-weight: bolder;
    }
}