#app-gallery {

    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    #project-cards-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 40px;
        border-radius: $radius-2 $radius-2 0px 0px;

        

        .project-card {
            width: 300px;
            height: 470px;
            @include set-alpha(background-color, $color-violet-blue, 0.2);
            color: $color-blue-5;
            transition: 0.3s;
            border-radius: $radius-2 $radius-2 0px 0px;
            border: 1px solid rgba($color-violet-blue, 0.15);
        }

        .project-card:hover {
            transition: 0.3s;
            transform: scale(1.025);
            box-shadow: 0px 0px 10px 0px rgba($color-violet-blue, 0.75) !important;
            border: 1px solid rgba($color-violet-blue, 0.25);
        }

        .project-card-text-container {
            height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }

        .project-card-text {
            text-overflow: ellipsis;
        }
    }

}

#modal-view-project {
    transition: ease-out 0.6s ;

    .modal-content {
        background-color: $color-blue-5 !important;
        color: $color-white;
        border: 1px solid $color-white;
    }
}
