#app-gallery {

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    #project-cards-container {
        max-width: 1300px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 40px;
        border-radius: $radius-2 $radius-2 0px 0px;

        img.card-img-top.project-card-image-top {
            height: 160px !important;
            object-fit: cover;
        }

        .project-card {
            width: 300px;
            height: 330px;
            //background-color: $color-blue-0;
            @include set-alpha(background-color, $color-blue-0, 0.50);
            color: $color-blue-5;
            transition: 0.3s;
            border-radius: $radius-2 $radius-2 0px 0px;
            border: 1px solid rgba($color-violet-blue, 0.15);
        }

        .project-card:hover {
            transition: 0.3s;
            transform: scale(1.025);
            box-shadow: 0px 0px 10px 0px rgba($color-violet-blue, 0.75) !important;
            border: 1px solid rgba($color-violet-blue, 0.25);
        }

        .project-card-text-container {
            height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }

        .project-card-text {
            text-overflow: ellipsis;
        }

    }

    #filter-tag-accordion-body {

        .filter-tag-drop-zone {
            width: 100%;
            min-height: 90px;
            padding: 10px;
            border-radius: $radius-2;
            @include set-alpha(background-color, $color-blue-4, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: space-between;
            gap: 10px 10px;
            flex-wrap: wrap;
        }

        .sort-zone{
            width: fit-content;
            min-height: 50px;
            min-width: 38vw;
            padding: 10px;
            border-radius: $radius-2;
            @include set-alpha(background-color, $color-blue-4, 0.5);
            display: flex;
            flex-direction: row;
            gap: 50px;
            justify-content: center;
            align-items: space-between;
            gap: 10px 10px;
            flex-wrap: wrap;
        }

        .filter-tag-accordion-action-text:hover {
            cursor: pointer;
            color: $color-light-orange;
            transition: 0.3s;
        }

        .btn-active {
            box-sizing: border-box;
            transition: 0.3s;
            //border: 1px solid rgba($color-orange, 0.75);
            color: $color-orange !important;
            box-shadow: 0px 0px 10px 3px rgba($color-orange, 0.50) !important;
        }

        .selected {
            transition: 0.3s;
            border: 1px solid rgba($color-violet-blue, 0.25);
            box-shadow: 0px 0px 10px 0px rgba($color-violet-blue, 0.75) !important;
        }

        .pointer-hover:hover {
            cursor: pointer;
        }

        .pill-hover:hover {
            color: $color-dark-orange !important;
            transition: 0.3s;
            box-shadow: 0px 0px 10px 0px rgba($color-violet-blue, 0.75) !important;
        }

        .filter-tag-div-title {
            font-size: small !important;
            color: $color-blue-5 !important;
        }

        .btn-sort {
            transition: 0.3s;
            width: 80px;
            border: 0px;
        }

        .btn-sort:hover {
            transition: 0.3s;
            @include set-alpha(background-color, $color-blue-5, 0.5);
            color: $color-light-orange !important;
            border: 0px;
        }
    }



}

#modal-view-project {
    transition: ease-out 0.6s ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .modal-content {
        background-color: $color-blue-5 !important;
        color: $color-white;
        border: 1px solid $color-white;
        width: 90vw;
        max-width: 500px;
    }
}
