#app-header {
    background-color: $color-blue-3;
    padding-bottom: 10px !important;
    
    .list-nav {
        color: $color-white;
        list-style-type: none;
    }

    .link-header {
        color: $color-white;
        font-family: 'NotoSansRegular';
        font-weight: bolder;
        font-size: large;
    }

    .header-title {
        margin-right: 70px;
        margin-left: 70px;
    }

    .text-header {
        color: $color-white;
        font-family: 'EBGaramondRegular';
        font-weight: bolder;
        font-size: xx-large;
    }

    .header-nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0;
        margin-left: 20px;
        margin-right: 20px;
    }

    .active {
        color: $color-light-orange;
        transition: 0.3s;
        text-decoration: underline;
    }

    .hamburger-button {
        color: $color-white;
        font-family: 'NotoSansRegular';
        font-weight: bolder;
        cursor: pointer;
        font-size: 3em;
        position: absolute;
        right: 20px;
        top: -15px;
        transition: 0.3s;
    }

    .hamburger-button:hover {
        color: $color-light-orange;
        transform: scale(1.1);
        transition: 0.3s;
    }
}

.border-bottom-header-1 {
    box-shadow: 0px 5px 10px -3px $color-blue-5 !important;
    transition: 0.3s;
}