#app-header {
    background-color: $color-blue-3;
    
    .list-nav {
        color: $color-white;
        list-style-type: none;
    }

    .link-header {
        color: $color-white;
        font-family: 'NotoSansRegular';
        font-weight: bolder;
        font-size: x-large;
    }

    .text-header {
        color: $color-white;
        font-family: 'EBGaramondRegular';
        font-weight: bolder;
        font-size: xx-large;
    }

    .header-nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0;
    }
}

.border-bottom-header-1 {
    box-shadow: 0 5px 10px -3px $color-blue-5 !important;
    transition: 0.3s;
}