#app-header {
    background-color: $color-blue-3;

    .list-nav {
        color: $color-white;
        list-style-type: none;
    }

    .link-header,
    .text-header {
        color: $color-white;
        font-family: 'EBGaramondRegular';
        font-weight: bolder;
        font-size: xx-large;
    }

    .header-nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0;
    }
}