#app-home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .text-1-home {
        color: $color-blue-5 !important;
        font-family: "EBGaramondRegular" !important;
        font-weight: normal;
        font-size: large;
    }

    .logo-accordion-github-home {
        width: 55px;
    }

    .logo-accordion-linkedin-home {
        width: 60px;
    }

    .logo-accordion-cv-home {
        height: 60px;
    }

    .logo-accordion-cv-home:hover,
    .logo-accordion-github-home:hover,
    .logo-accordion-linkedin-home:hover {
        transform: scale(1.2);
        transition: 0.3s;
    }

    .logo-container-accordion-home {
        padding-top: 20px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        width:fit-content;
    }

    .text-logo-accordion-home {
        font-family: "NotoSansRegular" !important;
        color: $color-blue-5 !important;
        font-weight: normal;
        font-size:large;
    }

    .text-logo-accordion-home:hover {
        color: $color-light-orange !important;
        transition: 0.3s;
    }
}