#app-home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0px;


    .text-1-home {
        color: $color-blue-5 !important;
        font-family: "EBGaramondRegular" !important;
        font-weight: normal;
        font-size: x-large;
    }

    .logo-accordion-github-home {
        width: 55px;
        transition: 0.3s;
    }

    .logo-accordion-linkedin-home {
        width: 60px;
        transition: 0.3s;
    }

    .logo-accordion-cv-home {
        height: 60px;
        transition: 0.3s;
    }

    .logo-accordion-diginamic-home,
    .logo-accordion-cnam-home,
    .logo-accordion-opquast-home {
        height: 40px;
        width: 160px;
        transition: 0.3s;
    }

    .logo-accordion-cv-home:hover,
    .logo-accordion-github-home:hover,
    .logo-accordion-linkedin-home:hover {
        transform: scale(1.2);
        transition: 0.3s;
    }

    .logo-accordion-opquast-home:hover,
    .logo-accordion-diginamic-home:hover,
    .logo-accordion-cnam-home:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    .logo-container-accordion-home {
        padding-top: 20px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        width:fit-content;
    }

    .text-logo-accordion-home {
        font-family: "NotoSansRegular" !important;
        color: $color-blue-5 !important;
        font-weight: normal;
        font-size:large;
    }

    .text-logo-accordion-home:hover {
        color: $color-light-orange !important;
        transition: 0.3s;
    }

    #div-logo-diplomas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}