.badge_1 {
    background-color: $color-tag-1 !important;
    color: $color-blue-5 !important;
}

.badge_2 {
    background-color: $color-tag-2 !important;
    color: $color-blue-5 !important;
}

.badge_3 {
    background-color: $color-tag-3 !important;
    color: $color-blue-5 !important;
}

.badge_4 {
    background-color: $color-tag-4 !important;
    color: $color-blue-5 !important;
}

.badge_5 {
    background-color: $color-tag-5 !important;
    color: $color-blue-5 !important;
}

.badge_6 {
    background-color: $color-tag-6 !important;
    color: $color-blue-5 !important;
}

.badge_7 {
    background-color: $color-tag-7 !important;
    color: $color-blue-5 !important;
}

.badge_8 {
    background-color: $color-tag-8 !important;
    color: $color-blue-5 !important;
}

.badge_9 {
    background-color: $color-tag-9 !important;
    color: $color-blue-5 !important;
}

.badge_10 {
    background-color: $color-tag-10 !important;
    color: $color-blue-5 !important;
}

.badge_11 {
    background-color: $color-tag-11 !important;
    color: $color-blue-5 !important;
}

.badge_12 {
    background-color: $color-tag-12 !important;
    color: $color-blue-5 !important;
}