$radius-1: 5px;
$radius-2: 10px;
$radius-3: 15px;
$radius-4: 20px;
$radius-5: 25px;
$radius-6: 30px;
$radius-7: 35px;
$radius-8: 40px;
$radius-9: 45px;
$radius-10: 50px;

.bg-blue-1 {
    background-color: $color-blue-1;
}

.bg-blue-2 {
    background-color: $color-blue-2;
}

.bg-blue-3 {
    background-color: $color-blue-3;
}

.bg-blue-4 {
    background-color: $color-blue-4;
}

.bg-blue-5 {
    background-color: $color-blue-5;
}

.bg-white {
    background-color: $color-white;
}

.bg-black {
    background-color: $color-black;
}

.bg-light-blue {
    background-color: $color-light-blue;
}

.bg-orange {
    background-color: $color-orange;
}

.bg-light-orange {
    background-color: $color-light-orange;
}

.bg-dark-orange {
    background-color: $color-dark-orange;
}

.bg-dark-orange-2 {
    background-color: $color-dark-orange-2;
}
