  body {
    min-height: 100vh;
  }
  
  main {
    padding-top: 120px;
    padding-bottom: 20px;
    flex-grow: 1;
    background-color: $color-blue-1;
  }
  
  #container_all {
    min-width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    position: fixed;
    width: 100vw;
    z-index: 100;
  }