.btn-2,
.btn-1 {
    width: 100px;
    border: 0px;
}

.btn-1:hover {
    transition: 0.3s;
    @include set-alpha(background-color, $color-blue-5, 0.5);
    color: $color-orange;
}

.btn-2:hover {
    transition: 0.3s;
    @include set-alpha(background-color, $color-blue-4, 0.66);
    color: $color-orange;
}

.btn-3 {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border: 0px;
    padding: 3px;
    padding-top: 0px;
    //@include set-alpha(background-color, $color-white, 0.66);
    border-radius: $radius-1;
    color: $color-white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    border: 1px solid $color-white;
    background-color: $color-blue-4;
    text-align: center;
}

.btn-3:hover {
    transition: 0.3s;
    //@include set-alpha(background-color, $color-white, 0.33);
    color: $color-dark-orange;
    cursor: pointer;
    border: 1px solid $color-orange;
    background-color: $color-blue-5;
}