$color-blue-0: hsl(231, 59%, 75%);
$color-blue-1: hsl(231, 33%, 58%);
$color-blue-2: hsl(224, 61%, 60%);
$color-blue-3: hsl(225, 48%, 48%);
$color-blue-4: hsl(225, 48%, 36%);
$color-blue-5: hsl(227, 52%, 24%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

$color-light-blue: hsl(230, 49%, 85%);
$color-orange: hsl(35, 87%, 54%);
$color-light-orange: hsl(43, 88%, 57%);
$color-dark-orange: hsl(35, 100%, 27%);
$color-dark-orange-2: hsl(35, 100%, 18%);


$primary: $color-blue-4;
$success: hsl(288, 95%, 36%);
$danger: $color-orange;
$warning: hsl(14, 95%, 40%);

$color-violet-blue: hsl(258, 94%, 44%);

// 18 couleurs pastels différentes visuellement nommées dans tous les tons (vert, rouge, bleu, violet, etc.) : '$color-tag-xxx' ou 'xxx' est le numéro de la couleur de 1 à 12

$color-tag-1: hsl(281, 73%, 78%); // Violet pastel 1
$color-tag-2: hsl(208, 55%, 76%); // Bleu pastel 1
$color-tag-3: hsl(49, 56%, 76%); // Jaune pastel 1
$color-tag-4: hsl(170, 55%, 77%); // Turquoise pastel 1
$color-tag-5: hsl(19, 56%, 74%); // Rose pastel 1
$color-tag-6: hsl(70, 67%, 71%); // Vert pastel 1
$color-tag-7: hsl(0, 66%, 77%); // Rouge pastel 1
$color-tag-8: hsl(103, 59%, 74%); // Vert pastel 2
$color-tag-9: hsl(240, 47%, 80%); // Bleu pastel 2
$color-tag-10: hsl(0, 7%, 77%); // Gris pastel 1
$color-tag-11: hsl(40, 28%, 67%); // Vert pastel 3
$color-tag-12: hsl(352, 37%, 65%); // Rouge pastel 2
$color-tag-13: hsl(159, 10%, 68%); // Gris pastel 2
$color-tag-14: hsl(281, 10%, 64%); // Gris pastel 3
$color-tag-15: hsl(207, 52%, 72%);
$color-tag-16: hsl(17, 52%, 70%);
$color-tag-17: hsl(238, 33%, 77%);
$color-tag-18: hsl(305, 52%, 70%);
