@font-face {
    font-family: "NotoSansRegular";
    src: url("../../asset/font/NotoSansDisplay/NotoSansDisplay-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "NotoSansItalic";
    src: url("../../asset/font/NotoSansDisplay/NotoSansDisplay-Italic-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "EBGaramondRegular";
    src: url("../../asset/font/EBGaramond/EBGaramond-VariableFont_wght.ttf");
}

@font-face {
    font-family: "EBGaramondItalic";
    src: url("../../asset/font/EBGaramond/EBGaramond-Italic-VariableFont_wght.ttf");
}