.link-1 {
    transition: 0.3s;
    color: $color-blue-5;
}

.link-1:hover {
    transition: 0.3s;
    color: $color-orange !important;
}

.link-2 {
    transition: 0.3s;
    color: $color-blue-5;
}

.link-2:hover {
    transition: 0.3s;
    color: $color-blue-4;
    text-decoration: underline;
}