// Text Colors ************************************

.text-orange {
    color: $color-orange;
}

.text-light-orange {
    color: $color-light-orange;
}

.text-dark-orange {
    color: $color-dark-orange;
}

.text-dark-orange-2 {
    color: $color-dark-orange-2;
}

.text-light-orange-2 {
    color: $color-light-orange-2;
}

.text-light-blue {
    color: $color-light-blue;
}

.text-blue-1 {
    color: $color-blue-1;
}

.text-blue-2 {
    color: $color-blue-2;
}

.text-blue-3 {
    color: $color-blue-3;
}

.text-blue-4 {
    color: $color-blue-4;
}

.text-blue-5 {
    color: $color-blue-5;
}

.text-white {
    color: $color-white;
}

.text-black {
    color: $color-black;
}

.text-primary {
    color: $primary;
}

.text-success {
    color: $success;
}

.text-success-dark-1 {
    color: $success-dark-1;
}

.text-success-dark-2 {
    color: $success-dark-2;
}

.text-warning {
    color: $warning;
}

.text-danger {
    color: $danger;
}

.text-danger-dark-1 {
    color: $danger-dark-1;
}

.text-danger-dark-2 {
    color: $danger-dark-2;
}




// Text Alignement ************************************

.centered {
    margin: 0 auto;
}

// Text espacement ************************************

.text-justify {
    text-align: justify;
}

.text-space-1 {
    letter-spacing: 1px;
}

.text-space-2 {
    letter-spacing: 2px;
}

.text-space-3 {
    letter-spacing: 3px;
}

.text-space-5 {
    letter-spacing: 5px;
}

.text-space-10 {
    letter-spacing: 10px;
}

.text-space-15 {
    letter-spacing: 15px;
}

.text-size-0-5 {
    font-size: 0.5em;
}

.text-size-0-75 {
    font-size: 0.75em;
}

.text-size-1 {
    font-size: 1em;
}

.text-size-1-5 {
    font-size: 1.5em;
}

.text-size-2 {
    font-size: 2em;
}

.text-size-2-5 {
    font-size: 2.5em;
}

.text-size-3 {
    font-size: 3em;
}