// Text Colors ************************************

.text-orange {
    color: $color-orange;
}

.text-light-orange {
    color: $color-light-orange;
}

.text-light-blue {
    color: $color-light-blue;
}

.text-blue-1 {
    color: $color-blue-1;
}

.text-blue-2 {
    color: $color-blue-2;
}

.text-blue-3 {
    color: $color-blue-3;
}

.text-blue-4 {
    color: $color-blue-4;
}

.text-blue-5 {
    color: $color-blue-5;
}

.text-white {
    color: $color-white;
}

.text-black {
    color: $color-black;
}

.text-primary {
    color: $primary;
}

.text-succes {
    color: $succes;
}

.text-warning {
    color: $warning;
}

.text-danger {
    color: $danger;
}


// Text Alignement ************************************

.centered {
    margin: 0 auto;
}