.title-1 {
    font-family: "NotoSansRegular";
    font-weight: bolder;
    font-size: xx-large;
}

.title-2 {
    font-family: "NotoSansRegular";
    font-weight: bolder;
    font-size: x-large;
}

.title-3 {
    font-family: "NotoSansRegular";
    font-weight: bolder;
    font-size: large;
}

.title-4 {
    font-family: "NotoSansRegular";
    font-weight: bolder;
    font-size: medium;
}

.title-5 {
    font-family: "NotoSansRegular";
    font-weight: bolder;
    font-size: small;
}