.title-1-bold {
    font-family: "NotoSansRegular";
    font-weight: bolder;
    font-size: xx-large;
}

.title-1-normal {
    font-family: "NotoSansRegular";
    font-weight: normal;
    font-size: xx-large;
}

.title-2-bold {
    font-family: "NotoSansRegular";
    font-weight: bolder;
    font-size: x-large;
}

.title-2-normal {
    font-family: "NotoSansRegular";
    font-weight: normal;
    font-size: x-large;
}

.title-3-bold {
    font-family: "NotoSansRegular";
    font-weight: bolder;
    font-size: large;
}

.title-3-normal {
    font-family: "NotoSansRegular";
    font-weight: normal;
    font-size: large;
}

.title-4-bold {
    font-family: "NotoSansRegular";
    font-weight: bolder;
    font-size: medium;
}

.title-4-normal {
    font-family: "NotoSansRegular";
    font-weight: normal;
    font-size: medium;
}

.title-5-bold {
    font-family: "NotoSansRegular";
    font-weight: bolder;
    font-size: small;
}

.title-5-normal {
    font-family: "NotoSansRegular";
    font-weight: normal;
    font-size: small;
}