$color-blue-0: hsl(231, 59%, 75%);
$color-blue-1: hsl(231, 33%, 58%);
$color-blue-2: hsl(224, 61%, 60%);
$color-blue-3: hsl(225, 48%, 48%);
$color-blue-4: hsl(225, 48%, 36%);
$color-blue-5: hsl(227, 52%, 24%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

$color-light-blue: hsl(230, 49%, 85%);
$color-orange: hsl(35, 87%, 54%);
$color-light-orange: hsl(43, 88%, 57%);
$color-dark-orange: hsl(35, 100%, 27%);

$primary: $color-blue-4;
$succes: hsl(288, 95%, 36%);
$danger: $color-orange;
$warning: hsl(14, 95%, 40%);
