$color-blue-0: #9ba6e5;
$color-blue-1: #717cb7;
$color-blue-2: #4b68bb;
$color-blue-3: #405db4;
$color-blue-4: #304687;
$color-blue-5: #1d2a5b;
$color-white: #fff;
$color-black: #000;

$color-light-blue: #c7cdec;
$color-orange: #f09921;
$color-light-orange: #f2bb32;

$primary: $color-blue-4;
$succes: #8e05b1;
$danger: $color-orange;
$warning: #c93305;
