//Import de Boostrap
@import "~bootstrap/scss/bootstrap";

//General => reset, variable, body, mixins...
@import "./general/reset";
@import "./general/color";
@import "./general/block";
@import "./general/body";
@import "./general/mixin";
@import "./general/font";
@import "./general/link";
@import "./general/title";
@import "./general/text";
@import "./general/list";
@import "./general/button";
@import "./general/transition";
@import "./general/accordion";
@import "./general/off_canvas";
@import "./general/badge";
@import "./general/image";

//Components => Bout de code comme header, footer, modal, form...
@import "./component/header";
@import "./component/footer";
@import "./component/home";
@import "./component/gallery";
@import "./component/contact";